*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f9fff6;
}

div#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.input-name {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.input-name > .input-prompt {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-name > .input-prompt > input {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background-color: #e2e2e2;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.input-name > .input-prompt > input:focus-visible, button.primary:focus-visible {
    outline: 3px solid chartreuse;
    border-radius: 5px;
}

.input-name > .navigate-acknowledge {
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

button.card {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e2e2e2;
    height: 6rem;
    width: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: .5rem 0;
}

button.primary {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e2e2e2;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 .5rem;
}

button.selected {
    background-color: #aaa;
    outline: 2px solid chartreuse;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #aaa;
}

@keyframes animateWidth {
    0% {
        width: 0;
    }
    100% {
        width: 177.2px;
    }
}

div.lobby-button-background {
    background-color: gray;
    padding: 1rem;
    border-radius: 5px;
    font-size: larger;
    color: white;
    height: 55px;
    animation: animateWidth 4s ease-in-out;
}

.lobby-button {
    color: white;
    font-size: larger;
    padding: 1rem;
    text-decoration: none;
    position: relative;
    top: -39px;
}

.lobby-button:focus-visible, .lobby-button:hover {
    outline: 3px solid chartreuse;
    border-radius: 5px;
}

li {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.player-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5rem;
    padding: 1rem;
}

li.player-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

section.server-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}

section.players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5rem;
    padding: 1rem;
    width: 50%;
}

section.connectedplayers, section.games {
    border: 1px solid chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5rem;
    padding: 1rem;
    width: 45vw;
    max-width: 600px;
    min-height: 110px;
}

@media (max-width: 640px) {
    section.connectedplayers, section.games {
      width: 100%;
    }
}

section.lobby {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2rem;
    gap: 1rem;
}

section.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: clamp(300px, 100%, 600px);
    margin: 2rem;
    gap: 1rem;
}

section.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-wrap: wrap;
    gap: 2.4rem;
}

section.action-buttons {
    margin: 2rem;
}
